.theme-showcase {max-width:1407px;min-width:1407px;}
.jumbotron {padding-top:10px; padding-bottom: 10px;margin-bottom: 10px; text-align:center;}
.jumbotron h1 { font-size: 50px;}
.col-md-3, .col-md-6, .col-md-2, .col-md-5, .col-md-12 {border: 0px none; padding-left: 5px;padding-right: 5px;/*1px solid black;*/}
.left {float: left}
.right {float: right}
.correlations img.row { height: 320px;width: 32%;margin-left: 10px;margin-left:10px;}
.container {width: 100%;}
.howto {clear: both;}
.summary {
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    position: relative;
    top: -385px;
    background: rgba(91, 192, 222, 0.57);
    width: 23%;
    float: right;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
    height: 100px;
    z-index: 3;
}
.maps {
    height:440px;
}
div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 140px;					
    height: 90px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
.clip-circle {
    clip-path: circle(70px at center);
    /* OLD VALUE example: circle(245px, 140px, 50px); */
    /* Yep, even the new clip-path has deprecated stuff. */
}
div.tooltip span {display: block;}
span.carrierName {width: 140px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.clip-circle {
    background: lightblue;
    height: 170px;
    width: 170px;
    text-align: center;
    margin-top: 40px;
    margin-left: -4px;
    z-index: 1;
}
.clip-circle h5 {
    font-size: 12px;
    font-weight: bold;
    width: 50%;
    padding-top: 35px;
    margin: auto;
}
.clip-circle li {
    font-size: 10px;
}
.spotlight span.line {margin-left: -50px;}
.spotlight span.line { 
    position: absolute;
    height: 6px;
    width: 100px;
    z-index: -99;
    background: lightblue;
}
.spotlight.flightnetwork .clip-circle {margin-top:0px !important;}
.spotlight.flightnetwork span.line {width: 35px;top: 55px;left: 197px;background:#00adff}
.spotlight.flightnetwork.nineeleven span.line {top: 225px;}
.spotlight.flightnetwork.y2k span.line {top: 390px;}
.spotlight.seasonal span.line {width: 40px;top: 636px;left: 45px;background:#fd8218}
.spotlight.bestairports span.line { width: 55px;top: 872px;left: 176px;background: #27bb1d}
.correlations {margin-top:10px;text-align:center;}
.spotlight.delaystats span.line { width: 6px;height:82px; top: 1200px;left: 135px;background: #7700ff}
.calendarHeatmap, .maps, .correlations, .carrierCompare, .bestnworse {border: 5px solid black;border-radius: 10px;padding: 5px} 

.maps {border-color: #00adff;}
.spotlight.flightnetwork .clip-circle {background: #00adff; color: #fff;} 
.calendarHeatmap {border-color: #fd8218;}
.spotlight.seasonal .clip-circle {background: #fd8218; color: #fff;margin-top:70px} 
.bestnworse {border-color: #27bb1d;}
.spotlight.bestairports .clip-circle {background: #27bb1d; color: #fff;margin-top:70px} 
.carrierCompare {border-color: #bb4a1d;}
.spotlight.carrierComparison .clip-circle {background: #bb4a1d; color: #fff;} 
.spotlight.carrierComparison span.line { height: 6px;width: 60px;left: 45px;margin-top: -35px;background: #bb4a1d;top: 1200px;}
.spotlight.delaystats .clip-circle {background: #7700ff; color: #fff;margin-top:112px;} 
.correlations {border-color:#7700ff;}

.cat img {width: 600px;height: 370px;}
.bestnworse {margin-top:10px;}
.calendarHeatmap {left: 25px;}
.carrierComparison {margin-top: -31px;}
.spotlight ul li { width: 109px;margin-left: 5px;text-align: left;}
#networkoverviewContent, #delaybreakdownsContent {margin: auto;width: 100%;text-align: center;}